@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-5 text-light my-5">Bem-Vindos!</h1>
    <p class="display-7 text-light my-7">Projeto C#, feito por Eduarda :) </p>
</div>
